body {
    background-color: rgb(229, 229, 229);
}

.card-Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 24px;
    margin: 3vw;
    padding: 0 10vw;


}

.card {
    width: 16vw;
    padding: 8px;
}

/*tengo que modificar esto*/

.cardBodyDark {
    background-color: rgb(71, 71, 71);
    text-align: center;
}

.itemDetailBodyDark {
    background-color: rgb(71, 71, 71);
    color: white;
}

.darkMode {
    background-color: black;
    color: grey;
}

.cardContainer {
    margin-top: 3%;
    margin-left: 26, 5%;

}

.divButton button {
    margin: 4px;

}

.cantCarrito {
    color: white;
    margin-left: 8px;
}

.body-card {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 55%;
    margin-top: 10vw;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(194, 194, 194);
    border-radius: 1%;
    column-gap: 32px;
}

.body-card-image {
    display: flex;
    justify-content: left;
}

.body-card-text {
    display: flex;
}

.body-card-corp {
    padding: 16px;
    border: 1px solid rgb(212, 212, 212);
    
}

.body-card-corp-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 24px;
}

.body-card-corp-text p:first-child {
    font-weight: bold;
    font-size: 3vw;
}


.body-card-corp-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    column-gap: 8px;
    margin-top: 8px;
    margin-bottom: 16px;
}

.counter-button {
    margin-top: 16px;
    margin-bottom: 16px;

}

.contenedor {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 24px;
    margin-top: 3vw;
    flex-wrap: wrap;
    align-items: stretch;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(194, 194, 194);
    border-radius: 1%;
    padding: 8px;

}

.itemcard {
    width: 14vw;
    background-color: rgb(219, 219, 219);
    border: 2px solid rgb(194, 194, 194);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.itemcard-text {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin: 8px;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(194, 194, 194);
    border-radius: 5%;

}

.itemcard-text-button {
    display: flex;
    justify-content: center;
    padding: 8px;
    padding-bottom: 24px;
}

.itemcard-img {
    margin: 8px;
    padding: 8px;
    border: 2px solid rgb(194, 194, 194);
    border-radius: 5%;
}

.itemcard-img img {
    width: 100%;
}

.contenedor-resumen-buttons {
    display: flex;
    column-gap: 24px;
    margin: 20px 0px;
}

.contenedor-resumen-text {
    margin: 20px 0px;
}

.contenedor-resumen-text p {
    font-size: 1.2em;
    font-weight: bold;
}

.cart-Title {
    margin-top: 3vw;
}

.container-compra {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.formularioCompra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(194, 194, 194);
    border-radius: 1%;
    padding: 8px;
    margin: 3vw;
    width: 50%;
}

.formularioCompra-titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 24px;
}

.formularioCompra-text {
    display: flex;
    flex-direction: column;
    background-color: rgb(201, 201, 201);  
    margin: 24px;
}

.formularioCompra-text-inputs {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(194, 194, 194);
    border-radius: 1%;
    margin: 24px;
}

.formularioCompra-text-inputForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 64px;
    margin: 24px 16px;
}

.formularioCompra-text-inputButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 24px;
}