body{
    background-color: rgb(229, 229, 229);
}

.card-Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 24px;
    margin: 3vw;
    padding: 0 10vw;

}

.card {
    width: 16vw;
    padding: 8px;
}

/*tengo que modificar esto*/

.cardBodyDark{
    background-color: rgb(71, 71, 71);
    text-align: center;
}

.itemDetailBodyDark{
    background-color: rgb(71, 71, 71);
    color: white;
}

.darkMode{
    background-color: black;
    color: grey;
}

.cardContainer{
    margin-top: 3%;
    margin-left: 26,5%;

}

.divButton button {
    margin: 4px;

}

.cardCart{
    max-width: 640px;
}

.cantCarrito{
    color: white;
    margin-left: 8px;
}

